{% extends 'base.html.twig' %}

{% block title %}{{constructeur.nom}}{% endblock %}

{% block body %}
    <h2 class="text-center">{{constructeur.nom}}</h2>
    <img src="../{{constructeur.logo}}" alt="{{constructeur.nom}}">

    
    {# <a href="/constructeurs/{{}}"><img src="{{}}" alt="{{}}"></a> #}
    <div>
        <img src="../{{constructeur.image}}" alt="fondateur de {{constructeur.nom}}">
        <p>{{constructeur.resume}}</p>
    </div>
{% endblock %}