{% extends 'base.html.twig' %}

{% block title %}La {{voiture[0].modele}}{% endblock %}

{% block body %}
    <h2 class="text-center">La {{voiture[0].modele}}</h2>
    <p class="text-center">{{voiture[0].annee}}</p>
    
    {# <a href="/constructeurs/{{}}"><img src="{{}}" alt="{{}}"></a> #}
    <div class="voiture">
        <img src="../{{voiture[0].image}}" alt="{{voiture[0].modele}}">
        <p>{{voiture[0].resume}}</p>
    </div>
    <a href="../constructeurs/{{voiture[0].idconstructeur.id}}"><img src="../{{voiture[0].idconstructeur.logo}}" alt="{{voiture[0].idconstructeur.nom}}"></a>
{% endblock %}